body{
    font-family: sans-serif;
    background-image: radial-gradient(ellipse at center, #a6aab2 1%, #000 100%);
}
#titleHeader{
    text-align: center;
}
.pfLogo{
    width: 125px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto
}
#loginBox{
    outline: 5px solid black;
    display: block;
    width: 45%;
    margin-left: auto;
    margin-right: auto
}
#loginForm{
    text-align: center;
}
#loginForm{
    text-align: center;
}
#loginForm input[type=password]{
    width: 40%;
    height: 30px;
}
#loginForm input{
    border-radius: 4px;
}